.container {width:960px;
    margin:0 auto;
    padding:10px 25px;
    border:5px solid steelblue;
    background:DarkKhaki; }

h1 {
    color: black;
    margin-left: 20px;
    font-family: "Verdana", Helvetica, sans-serif;
 
    }
body {
    color: black;
    margin-left: 20px;
    font-family: "Verdana", Helvetica, sans-serif;
    background-color: darkkhaki;
    font-size: .875rem;
    }

#myHeader {
    text-align: center;
     }        
.navbar-custom {
        background-color: darkkhaki;
    }


.navbar-custom {
    background-color: darkkhaki;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: darkkhaki;
    box-shadow: inset -1px 0 0 darkkhaki;
    color: black;
    font-family: "Verdana", Helvetica, sans-serif;
}
.navbar-link {
    color: black;
    font-family: "Verdana", Helvetica, sans-serif;

}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    /*height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /*scrollable contents if viewpoint is shorter than content*/

}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /*behind the navbar*/
    padding: 0;
    box-shadow: inset -1px 0 0 steelblue;

}

.sidebar .nav_link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.login
{
width: 20%;
margin-top: 39.5%;
margin-left: 35%;
}
