body {background-color: darkkhaki}

.container-fluid {width:960px;
    margin:0 auto;
    padding:10px 25px;
    border:5px solid steelblue;
    background:DarkKhaki; }

h1 {
    color: black;
    margin-left: 20px;
    font-family: "Verdana", Helvetica, sans-serif;
 
    }
body {
    color: black;
    margin-left: 20px;
    font-family: "Verdana", Helvetica, sans-serif;
    }

#myHeader {
    text-align: center;
     }        
.navbar-custom {
        background-color: darkkhaki;
    }
.navbar-brand {
    color: black;
    font-family: "Verdana", Helvetica, sans-serif;
}
.navbar-link {
    color: black;
    font-family: "Verdana", Helvetica, sans-serif;

}
