<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'login.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all/css" integrity="sha384-lZN37F5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="annoymous">
    <script src="{{ url_for('static', filename = 'sidebar.js') }}"></script>
</head>

<body>
    <div class="navbar">           
        <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776;</button>
          </div>
        <a class="active" href="{{ url_for('homepage')}}">Home</a>
        <img src="{{ url_for('static', filename = 'images/WMGTSS_logo.png') }}" style="display: inline-block;" width="200" height="70" class="rounded mx-auto d-block">
        <form action="#" method="post" class="form-inline my-2 my-lg-0">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search.."> <!--CHECK IN PYTHON CODE-->
            <button value="searchSubmit" name="action" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#" class="nav-link disabled">Calendar Board</a>
            <a href="#" class="nav-link disabled">Lecture Board</a>
            <a href="#" class="nav-link disabled">Q&A Board</a>
            <a href="#" class="nav-link disabled">Notice Board</a>
            <a href="{{ url_for('dashboard')}}">Resource Board</a>
            <a href="#" class="nav-link disabled">Quiz Board</a>
          </div>       
    </div>
    <div id="main_2">
        <h1>
            Resource Board
        </h1>
        <p>
            The resource board holds all materials such as powerpoints, word documents, excel spreadsheets, videos and images that a student may require
            for each module.
        </p>
    </div>
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">SDLC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">IOT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">MI</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
              <div class="card5" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                  <h5 class="card-title text-center">-----------</h5>
                  <h5 class="card-title text-center">Word Documents</h5>
                  <h5 class="card-title text-center">-----------</h5>
                  <h5 class="card-title text-center">Excels</h5>
                  <h5 class="card-title text-center">-----------</h5>
                  <h5 class="card-title text-center">Videos</h5>
                  <h5 class="card-title text-center">-----------</h5>
                  <h5 class="card-title text-center">Screen Captures</h5>
                </div>
            </div>
            <div class="card6" style="max-width: 70rem;">
              <div class="card-body">
                <div class="card7" style="max-width: 18rem;">
                  <div class="class-body">
                    <h5 class="card-title text-center">Powerpoints</h5>
                  </div>
                </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <div class="resource_links">
                    <button type="button"class="btn btn-lg" href="{{ url_for('static', filename = 'documents/SDLC - DAY 09 - CSS.pptx') }}" download>DAY 09 - CSS</button>
                    <button type="button"class="btn btn-lg" href="{{ url_for('static', filename = 'documents/SDLC - DAY 09 - HTML.pptx') }}" download>DAY 09 - HTML</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card7" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                </div>
              </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card7" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Excels</h5>
                </div>
              </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card7" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Videos</h5>
                </div>
              </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card7" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Excels</h5>
                </div>
              </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <footer>  
        @Copyright WMGTSS 2022- All Rights Reserved.   
    </footer> 
</body>
