<!-- This html file extends the layout.html file and replaces the block content with a profile settings placeholder and a create post form-->
{% extends "layout.html" %} 
{% block content %} 
    <h1> Profile Settings</h1>
    <body>
        <div class="row">
            <div class="card2">
                <div class="container">
                    <h5> Hello {{ current_user.username }}. You are in Tutor view. </h5>
                </div>
            </div>
        </div>
        <div class="card">        
            <div class="card-body">
            <div class="card5" style="max-width: 60rem;">
              <div class="class-body">
                <h3> Profile settings coming soon! </h3>
              </div>
          </div>
          <div class="card7" style="max-width: 30rem;">
                <div class="container">
                    <div class="content-section">
                        <form method="POST" action="">
                           {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">New Post</legend>
                                <div class="form-group">
                                    {{ form.title.label(class="form-control-label") }}
                                    {% if form.title.errors %}
                                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.title.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.title(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.content.label(class="form-control-label") }}
                                    {% if form.content.errors %}
                                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.content.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.content(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                        </form>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
{% endblock content %}