<!-- This html file extends the layout.html file and replaces the block content with a board titles, a create post form and a resource list-->

{% extends "layout.html" %}
{% block content %}
    <div id="main_2">
        <h1>
            Resource Dashboard
        </h1>
        <p>
            The resource board holds all materials such as powerpoints, word documents, excel spreadsheets, videos and images that a student may require
            for each module.
        </p>
    </div>
    <div class="row">
        <div class="column">
            <div class="card3">
                {% if current_user.is_authenticated %}
                <img src="{{ url_for('static', filename = 'images/module.png') }}" alt="Avatar" style="width:30%">
                {% else %}
                    <img src="{{ url_for('static', filename = 'images/module.png') }}" alt="Avatar" style="width:40%">
                {% endif %}
                <div class="container">
                  <h4><b>Modules</b></h4>
                </div>
                <div class="media-body">
                    <ul>
                    {% for post in posts %}
                        <li>
                            <a href="{{ url_for('posts')}}" style="color: rgb(34, 34, 34)">{{ post.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if current_user.is_authenticated %}
        <div class="column">
            <div class="card5">
                <div class="container">
                    <div class="content-section">
                        <form method="POST" action="">
                           {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">New Board</legend>
                                <div class="form-group">
                                    {{ form.title.label(class="form-control-label") }}
                                    {% if form.title.errors %}
                                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.title.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.title(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.content.label(class="form-control-label") }}
                                    {% if form.content.errors %}
                                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.content.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.content(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% else %} 
        {% endif %}
        <div class="column">
            <div class="card4">
                {% if current_user.is_authenticated %}
                <img src="{{ url_for('static', filename = 'images/documents.png') }}" alt="Avatar" style="width:30%">
                {% else %}
                    <img src="{{ url_for('static', filename = 'images/documents.png') }}" alt="Avatar" style="width:30%">
                {% endif %}
                <div class="container">
                  <h4><b>Documents</b></h4>
                  <ul>
                      <li>Powerpoints .PPT</li>
                      <li>Word Documents .DOX</li>
                      <li>Excel Spreadsheets .XML</li>
                      <li>Videos .MVP</li>
                      <li>...</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}