<!-- This html file extends the layout.html file and replaces the block content with cards that display all boards available on the WMGTSS site with a link to the resource board-->
{% extends "layout.html" %}
{% block content %}
<div id="main_2">
    <h1>
        WMG Teaching Support System
    </h1>
    <p>
        "WMG is an academic department at the University of Warwick and is the leading international role model 
        for successful collaboration between academia and the public and private sectors, driving innovation in science, technology and engineering, 
        to develop the brightest ideas and talent that will shape our future."
    </p>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="{{ url_for('static', filename = 'images/calendar_board.png') }}" alt="Avatar" style="width:20%">
            <div class="container">
              <h4><b>Calendar Board</b></h4>
            </div>
            <p2>...</p2>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="{{ url_for('static', filename = 'images/lecture_board.png') }}" alt="Avatar" style="width:28%">
            <div class="container">
              <h4><b>Lecture Board</b></h4>
            </div>
            <p2>....</p2>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="{{ url_for('static', filename = 'images/quiz_board.png') }}" alt="Avatar" style="width:22%">
            <div class="container">
              <h4><b>Quiz Board</b></h4>
            </div>
            <p2>....</p2>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="{{ url_for('static', filename = 'images/notice_board.png') }}" alt="Avatar" style="width:30%">
            <div class="container">
              <h4><b>Notice Board</b></h4>
            </div>
            <p2>....</p2>
        </div>
    </div>
    <div class="column">
        <div class="card2">
            <img src="{{ url_for('static', filename = 'images/resource_board.png') }}" alt="Avatar" style="width:30%">
            <div class="container">
                <a href="{{ url_for('dashboard')}}" style="color: rgb(34, 34, 34)">
                    <h4>
                        <b>Resource Board</b>
                    </h4>
                </a>
            </div>
            <p2>PPTs, DOXs, XMLs, PNGs</p2>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="{{ url_for('static', filename = 'images/q&a_board.png') }}" alt="Avatar" style="width:30%">
            <div class="container">
              <h4><b>Q&A Board</b></h4>
            </div>
            <p2>....</p2>
        </div>
    </div>
{% endblock content %}