{% extends "layout.html" %}
{% block content %}
    <div id="main_2">
        <h1>
            Resource Board
        </h1>
        <p>
            The resource board holds all materials such as powerpoints, word documents, excel spreadsheets, videos and images that a student may require
            for each module.
        </p>
    </div>
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">SDLC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">IOT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">MI</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
              <div class="card5" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                  <h5 class="card-title text-center">-----------</h5>
                  <h5 class="card-title text-center">Word Documents</h5>
                  <h5 class="card-title text-center">-----------</h5>
                  <h5 class="card-title text-center">Excels</h5>
                  <h5 class="card-title text-center">-----------</h5>
                  <h5 class="card-title text-center">Videos</h5>
                  <h5 class="card-title text-center">-----------</h5>
                  <h5 class="card-title text-center">Screen Captures</h5>
                </div>
            </div>
            <div class="card6" style="max-width: 70rem;">
              <div class="card-body">
                <div class="card7" style="max-width: 18rem;">
                  <div class="class-body">
                    <h5 class="card-title text-center">Powerpoints</h5>
                  </div>
                </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <div class="resource_links">
                    <a href="{{ url_for('static', filename = 'documents/SDLC - DAY 09 - CSS.pptx') }}" download style="color: black">DAY 09 - CSS</a>
                    <a href="{{ url_for('static', filename = 'documents/SDLC - DAY 09 - HTML.pptx') }}" download style="color: black">DAY 09 - HTML</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card7" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Word Documents</h5>
                </div>
              </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card7" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Excels</h5>
                </div>
              </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card7" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Videos</h5>
                </div>
              </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card7" style="max-width: 18rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Excels</h5>
                </div>
              </div>
              <div class="card8" style="max-width: 40rem;">
                <div class="class-body">
                  <h5 class="card-title text-center">Powerpoints</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
